cache:
  directories:
  - "~/.platformio"
  - "~/.mbed"
  - "mbed/mbed-os"
# install:
# - sudo add-apt-repository ppa:team-gcc-arm-embedded/ppa
# - sudo apt-get update
# - sudo apt install gcc-arm-embedded # gcc-arm-none-eabi
# - pip install -U mbed-cli
# - mbed deploy # The results of this line should be cached
# - cd mbed-os
# - sudo pip install -r requirements.txt
# - cd ..

matrix:
  include:
  - stage:
    name: "C base and examples"
    git:
      submodules: false
    language: c
    compiler: gcc
    script:
    - mkdir development/lib development/obj
    - make -C development
    - mkdir GuruxDLMSClientExample/obj GuruxDLMSClientExample/bin
    - make -C GuruxDLMSClientExample
    - mkdir GuruxDLMSServerExample/obj GuruxDLMSServerExample/bin
    - make -C GuruxDLMSServerExample
    - mkdir GuruxDLMSSimpleServerExample/obj GuruxDLMSSimpleServerExample/bin
    - make -C GuruxDLMSSimpleServerExample
    # - mkdir GuruxDLMSPushExample/obj GuruxDLMSPushExample/bin
    # - make -C GuruxDLMSPushExample
  - name: "PlatformIO (Arduino IDE / Energia) Client/Server Examples"
    git:
      submodules: false
    language: python
    python: 2.7
    cache: pip
    sudo: false
    install:
    - pip install -U platformio
    - platformio update
    - pip -V
    - platformio --version
    script:
    - platformio run -d Arduino_IDE/client -e mega
    - platformio run -d Arduino_IDE/client -e tiva
    - platformio run -d Arduino_IDE/server
  - name: "mbed Client/Server Examples"
    language: python
    python: 2.7
    cache:
      pip: true
      apt: true
    sudo: false
    install:
    - sudo add-apt-repository -y ppa:team-gcc-arm-embedded/ppa
    - sudo apt update
    - sudo apt install -y gcc-arm-embedded # gcc-arm-none-eabi
    - pip install -U mbed-cli
    - pip install -r mbed/mbed-os/requirements.txt
    - pip -V
    - mbed --version
    script:
    - cd mbed/GuruxDLMSClientExample
    - mbed compile -t GCC_ARM -m K64F
    - cd ../GuruxDLMSServerExample
    - mbed compile -t GCC_ARM -m K64F
