cache: packages

matrix:
  include:

  - stage:
    name: "C base and examples"
    language: c
    compiler: gcc
    install:
    - mkdir development/lib development/obj
    - mkdir GuruxDLMSClientExample/obj GuruxDLMSClientExample/bin
    - mkdir GuruxDLMSServerExample/obj GuruxDLMSServerExample/bin
    - mkdir GuruxDLMSSimpleServerExample/obj GuruxDLMSSimpleServerExample/bin
    - mkdir GuruxDLMSPushExample/obj GuruxDLMSPushExample/bin
    script:
    - make -C development
    - make -C GuruxDLMSClientExample
    - make -C GuruxDLMSServerExample
    - make -C GuruxDLMSSimpleServerExample
    - make -C GuruxDLMSPushExample

  - name: "PlatformIO (Arduino IDE / Energia) Client/Server Examples"
    language: python
    python: 2.7
    cache:
      pip: true
      directories:
      - "~/.platformio"
      - "Arduino_IDE/*/.pioenvs"
      - "Arduino_IDE/*/.piolibdeps"
    sudo: false
    install:
    - pip install -U platformio
    - platformio update
    - pip -V
    - platformio --version
    script:
    - platformio ci -v -l "." -C Arduino_IDE/client/platformio.ini Arduino_IDE/client
    - platformio ci -v -l "." -C Arduino_IDE/server/platformio.ini Arduino_IDE/server

  - name: "mbed Client/Server Examples"
    language: python
    python: 2.7
    cache:
      pip: true
      directories:
      - "~/.mbed"
    addons:
      apt:
        sources:
          - sourceline: "ppa:team-gcc-arm-embedded/ppa"
        packages:
          - gcc-arm-embedded
    sudo: false
    install:
    - git clone --depth=1 --branch mbed_lib_rev164 https://github.com/ARMmbed/mbed-os.git mbed/mbed-os
    - pip install -U mbed-cli
    - pip install -r mbed/mbed-os/requirements.txt
    - pip -V
    - mbed --version
    script:
    - cd mbed/GuruxDLMSClientExample
    - mbed compile -t GCC_ARM -m K64F
    - cd ../GuruxDLMSServerExample
    - mbed compile -t GCC_ARM -m K64F
